@charset "utf-8";

* {
    color: white
}

body {
    margin: 0;
    padding: 0;
}

.section {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.section, .slide {
    text-align: center;
}

#skillSection, #ProjectSection {
    background-color: black;
}

#main h1 {
    padding-left: .3%;
}

.slide {
    line-height: 75px;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    height: 100%;
    width: 100%;
    background: linear-gradient(black, #123456)
}

#snowCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

#debuggerSlide {
    text-align: center;
}

#ProjectSection {
    font-size: 25px;
}

.lineH {
    line-height: 30px;
}

.lineH img {
    border-radius: 10px;
    padding-right: 5px;
}

.inlineDisplay {
    display: inline;
}

.box {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    font-size: 35px;
    line-height: 55px;
    margin-top: 50px;

    width: 57.5px;
    height: 57.5px;
}

.box, .box * {
    color: black;
}

.icon {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.icon li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#icon li a {
    color: rgba(255, 255, 255, .7);
    font-size: 1.75rem;
    transition: .2s ease-in-out;
}

#icon li a:hover {
    color: #fff;
}

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
    border-color: transparent;

    width: 34px;
    height: 80px;
}

@media screen and (max-width: 1000px) {
    .fp-controlArrow.fp-next,
    .fp-controlArrow.fp-prev {
        display: none;
    }
}

.fp-controlArrow.fp-next {
    right: 45px;

    background: url(img/right_arrow.svg) no-repeat;
}

.fp-controlArrow.fp-prev {
    left: 20px;

    background: url(img/left_arrow.svg) no-repeat;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: white;
}

#mainSection img, #skillSection img {
    border-radius: 50%;
    width: 3.5rem;
    vertical-align: middle;
}

.tooltip {
    position: relative;
    display: inline-block;
    line-height: normal;
}

.tooltip span {
    font-size: 15px;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 125px;
    background: none;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 70px;
    right: -27.5px;
}

#ProjectSection .tooltip .tooltip-text {
    right: -42px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

#skils img {
    border-radius: 0;
    margin: 0 7px;
    cursor: pointer;
}