@charset "utf-8";

body {
    color: #fff;
    text-align: center;
    
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100%;
    width: 100%;
    z-index: -1;

    background: linear-gradient(#3fa9e6, #a3d2ed)
}

.cloud {
    position: fixed;
}

#title {
    font-size: 20px;
}

#skill {
    font-size: 20px;
}

#myName {
    padding: 5px;
}

.inline {
    display: inline-block;
}

.icon {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.icon li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#icon li a {
    color: rgba(255, 255, 255, .7);
    font-size: 1.75rem;
    transition: .2s ease-in-out;
}

#icon li a:hover {
    color: #fff;
}

img {
    border-radius: 50%;
    width: 3.5rem;
    vertical-align: middle;
}

.tooltip {
    position: relative;
    display: inline-block;
    line-height: normal;
}

.tooltip span {
    font-size: 15px;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 125px;
    background: none;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 55px;
    right: -30px;
}

.proj .tooltip .tooltip-text {
    right: -40px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

#skils img {
    border-radius: 0%;
    margin: 0 7px;
    cursor: pointer;
}

#skill {
    width: 475px;
}

#proj_debugger {
    text-align: center;
}

.proj {
    font-size: 25px;
    width: 500px;
}

.lineH {
    line-height: 5px;
}

.lineH img {
    border-radius: 10px;
    padding-right: 5px;
    padding-bottom: 15px;
}

.lineH h2 {
    font-size: 25px;
}

.box {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    font-size: 35px;
    line-height: 55px;
    margin-top: 50px;

    width: 57.5px;
    height: 57.5px;
}

.box * {
    color: rgb(59, 59, 59);
}